<%- include("../partials/header") %>

<h1>News Feed</h1>

<% for (let i = 0; i < post.length; i++) { %>

<div class="container post-container w-75 p-3 border rounded">
  <div class="container title-container">
    <a href="/posts/<%= post[i]._id %>"><h1><%= post[i].title %></h1></a>
    <p>
      <span class="font-weight-bold"><%= post[i].user.username %></span> on
      <span><%= post[i].date%></span>
    </p>
  </div>
  <div class="image-container">
    <img src="/<%= post[i].image %>" class="post-image" />
  </div>
  <p><%= post[i].caption%></p>
</div>
<% } %> <%- include("../partials/footer") %>
