<%- include("../partials/header") %>
<div class="container post-container w-75 p-3 border rounded">
  <div class="container title-container">
    <h1><%= post.title %></h1>
    <p>
      <span class="font-weight-bold"><%= post.user.username %></span> on
      <span><%= post.date%></span>
    </p>
  </div>
  <div class="image-container">
    <img src="/<%= post.image %>" class="post-image" />
    <p id="image-caption"><%= post.caption%></p>
    <a href="/posts/<%= post._id%>/edit"><button>Edit</button></a>
    <form action="/posts/<%= post._id%>?_method=DELETE" method="POST">
      <button>Delete</button>
    </form>
  </div>
  <!-- Comment Section -->
  <div class="comments-section">
    <% for (let i = 0; i < post.comments.length; i++) { %>
    <p>
      <span class="font-weight-bold"
        ><%= post.comments[i].user.username %> </span
      ><%= post.comments[i].text %>
    </p>
    <% } %>
  </div>
  <div>
    <form
      action="/posts/<%= post._id%>/comments"
      method="POST"
      class="comment-form"
    >
      <textarea name="text" placeholder="Leave a Comment"></textarea>
      <button type="submit" class="btn btn-outline-secondary">
        <i class="fa fa-share"></i> Share
      </button>
    </form>
  </div>
</div>

<%- include("../partials/footer") %>
