<%- include("../partials/header") %>
<div class="container post-container w-75 p-3 border rounded">
  <div class="container title-container">
    <h1><%= post.title %></h1>
    <p>
      <span class="font-weight-bold"><%= post.user.name %></span> on
      <span><%= post.date%></span>
    </p>
  </div>
  <div class="image-container">
    <img src="/<%= post.image %>" class="post-image" />
  </div>
  <p><%= post.caption%></p>
</div>

<%- include("../partials/footer") %>
